


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.topo{
    display: flex;
    justify-content: center;

  


}
.logo1{
    
    display: flex;
    background-color:rgb(0, 0, 0);
    width: auto;
    height: auto;
    margin-left: 0%;
    

}


#logomundo{
    
    width: 100px;
    height: 50px;
    
    
}

.barra {
    background-color: black;


    

}




#burguer {
    justify-content: end;
    padding: 10px;
    size-adjust: 10px;
    cursor: pointer;
    display: flex;
    color: white;
} 






#menu{
    display: none;
   min-width: 320px;
   
   width: 100%;
   height: 10%;
   margin-top: 0px;
 
   list-style: none;
   
  
   
   background-color: #010e1f;
   color: aliceblue;
   align-items: center;
   
}
#menu>ul{
    background-color:#00050a;
}
#menu ul li{
    display: flex;
    margin-top:0px;
  
    color: aliceblue;
    font-size: sans-serif;
    position: relative;
   
    padding: 10px;
    display: inline-block;
    align-items:center;
    justify-content: center;
    max-width: 100px;
    
}
#menu ul li a{
    color: rgb(176, 186, 194);
    
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-right: 6px;
}
#menu ul li a:hover{
    color:#0c57b9;
    cursor: pointer;
    padding:15px;
}
#menu ul li a:active{
    color: aqua;
}


.buscar{
    
    max-width:360px;
    height: 50px;
    margin-top: 0px;


    
}
#txtbuscar{
    display: flex;
    background-color:#0e1b2c;
    /* float:left ; 
    padding-left:0px; */
    font-style:italic;
    font-size:18px;
    border:none;
    /* height:32px;
    width:150px; */
    border-radius: 10px ;
 /*    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px; */
    color: aliceblue;
    

}
#busca{
    color: white;
    width: 20px;
    margin-top: 5px;
    margin-left: 8px;
    float: left;
    padding: 0px;
    cursor: pointer;
}


    

#img{
    align-content: center;
   
   

}


body{
    
    background-color:#010e1f;
    

}

 

main{
    background-color: rgb(243, 242, 242);
    
    min-width: 320px;
    max-width: 900px;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 15px black;
    margin-top: 0px;
    margin-bottom: 30px;

    
}
main>section>div{
    margin-bottom: 300px;
}







h1{
    display: flex;
    justify-content: center;
    background-color:rgb(32, 39, 77);
    padding: 10px;
    color: aliceblue;
    font-size: sans-serif;
    text-decoration: none;
}

h2 {
    padding: 20px;
}


h3{
    font-size: sans-serif;
    margin-top: 10px;
    text-decoration: none;
}




li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200px;
    margin-top: 10px;
    list-style: none;
    
}
p{
    text-align: justify;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

    

label{
    display: block;
    padding:5px;
    color: aliceblue;
    
    
}
input{
    width: 250px;
    height: 30px;
    display: block;
    padding-right: 0%;
    margin:auto ;
    border-radius: 6px;
    border: none;
}
.formulario{
    text-align: center;
    width: 300px;
    height: 350px;
    background-color: #010e1f;
    margin-top: 50px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
    
}

form{
    width: 300px;
    height: 200px;
    margin-top: 4px;
    margin: auto;
    padding: 10px 20px 10px 20px;
 
}
#butao{
    width: 70px;
    height: 30px;
    display: block;
    margin: 20px auto 20px auto;
    border-radius: 5px;
    text-align: center;
}
#butao:hover{
   background-color: #0e1b2c;
   cursor: pointer;
}
.buscar{
    margin-bottom: 40px;
 

}
input#busca{
    width: 300px;
    height: 40px;
    padding-bottom: 5px;
    margin:auto;
    margin-bottom: 40px;
  

   
}
img{
    width: 100%;
}

div.videos{
    background-color:rgb(243, 242, 242);
    margin-bottom: 30px;
    padding: 50px;
    padding-bottom: 0%;
    margin: 0px -20px 30px -20px;
    
}
.videos >iframe{
    
    top:5%;
    left: 5%;
    width: 100%;
    height: 400px;
    
}
.formulario>form>input{
    
    min-width: -280px;
    max-width: 150px;
    margin: auto;
}


footer {
      display: flex;
    background-color: #010e1f;
    justify-content: center;
    color: white;
}
